<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style>
        div{
            height: 150px;
            width: 100%;
            border: 2px solid red;
        }
    </style>
</head>
<body>
<div>
    <form action="/login/" method="post">
        <p><input type="text" name="username" placeholder="请输入用户号:"></p>
        <p><input type="text" name="password" placeholder="请输入密码:"></p>
        <p><input type="submit" value="提交"></p>
    </form>
</div>

</body>
</html>